img{
    text-align: center;
    height: 300px;
    width:300px;
    padding-left: 620px;
    border-radius: 30px;
    border-bottom-right-radius: 30px;
}
h2{
    text-align: center;
    
}
h1{
    text-align: center;
}
#intro{
    background:linear-gradient(#FFC0CB 0%,#99CCFF 100% );
    padding-top: 100px;
    margin-top: -30px;
    margin-left: -20px;
    z-index: 8;
}
.line{
    height: 20px;
        width:70px;
    text-align: center;
    background color: black;
    z-index: 10;
    
}
hr{
    height: 10px;
    
}
    .menu{
    position:absolute;
    z-index: 10;
    top: 10px;
    list-style: none;
        float: left;
display:flex;
        padding left: 20px;
        padding: right:20px;
        margin: 20px;
        
        
    
}
.link{
    float: left;
    
}
.link:hover{
    background-color: bisque;
    
}